@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/newFonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/newFonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/newFonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.bckgLogin{
  background-image: url("../images/mabg.jpeg") !important;
}

.formatInputs{
  padding: 3px !important;
}